/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

.default {
	cursor: pointer;
	margin-left: 0px;
	margin-top: 100px;
	margin-bottom: 100px;
	
}
.imageCustomer {
	margin-left: 300px;
}
.panelLeft {
	margin-top: 200px;
	margin-left: 300px;
}
.panelRight {
	margin-left: 100px;
}
.linkStudent {
	margin-left: 10px;
}
.navigation {
	border: 1px;
}
.image {
	margin-top: 200px;
}
.imageStudent {
	margin-left: 200px;
}
.studentLink {
	margin-left: 600px;
	cursor: pointer;
}
.panelRight {
	margin-left: 400px;
}